<div class="card my-3 w-80" style="border-color: {{ border_color }};">
    <div class="card-header">
        <img src="{{ person.profile.image.url }}" alt="" class="rounded float-left profile-image">
        <a class="mute ml-2" href="#">{{ person.username }}</a>
    </div>
    <div class="card-body text-dark">
        <h5 class="card-title">
            <a class="mute" href="{% url 'post_detail' post.id %}">{{ title }}</a>
        </h5>
        <p class="card-text">{{ content.content|truncatechars:max_length }}</p>
        {% if edit %}
            <a href="{% url 'review_update' content.id %}" class="btn btn-sm btn-outline-primary mt-1">Edit</a>
        {% endif %}
        <p class="card-text mt-1"><small class="text-muted">{{ time }}</small></p>
    </div>
</div>
